
.sticky-top{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background-color:white;
    justify-content: space-between;
    z-index: 5;
    
    
}
.image{
    padding-left: 50px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 100px;
}
ul li{
margin-right: 10px;
}
ul li a {
    text-decoration: none;
    color: #ababab;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}
ul li:first-child a{
    color: #00B39B;
}
ul li a:hover{
    color: #00B39B;
}
.center-image{
    text-align: center;
}
.center-title{
    text-align: center;
    font-family: 'Work Sans', Arial, sans-serif;
    font-weight: bold;
    color: #00B39B;
    font-size: 34px;
    margin: 34px;
    letter-spacing: 1px;
}
.container-paragraph{
    display: flex;
    color: #747477;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 12px 0px;
}
.container-paragraph p{
    padding: 10px;
    line-height: 1.5;

}
.section-parent1{
    padding-left: 20px;
    padding-right: 20px;
    margin: 33px  29.3px 60px;
}
.section-parent2{
    padding: 0px 20px;
    margin: 60px 40px 29.3px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 10px;
    flex-wrap: wrap;

}
.section-parent2 div{
padding: 10px;
height: 313px;
width:274.625px ;
border-radius: 10px;
font-family:'Work Sans', Arial, sans-serif ;
color: #ffffffff;


}
.for-patients{
    background-color:#00CCB1 ;
    padding: 10px;
}
.for-doctors{
    background-color:#2f7ec2 ;

}
.for-clinics{
    background-color:#000000 ;

}
select{
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    text-decoration: underline;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.global{
    margin: 40px 50px 29.3px 29.3px;
    padding: 0px 20px;
    display: flex;
}
.inter-global-left h1{
    margin-top:6.5px ;
    margin-bottom: 9.1px ;
    font-family: 'Work Sans', Arial, sans-serif ;
    color: #00B39B;
    font-size: 26px;
    height: 101.1px;
    width: 295.750px;
}
.container{
    display: grid;
    width: 653px ;
    height: 156.4px;
    /* background-color:beige; */
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto; /* Hauteur automatique pour les lignes */
    position: relative;
    left: 500px;


}
.box4{
grid-column: span 2;
}
.container2{
    background-color:#E5FAF8;
    width: 100%;
    height: 700px;
    display: flex;
    gap: 10px;
    position: relative;
    overflow: hidden;
}
.sygnet{
    position: absolute;
    margin-top: 100px;
}
.world{
    font-family: 'Work Sans', Arial, sans-serif ;
    font-size: 34px;
    color: #00B39B;
    font-weight: bold;
    height:88.4px ;
    width: 415.2px;
    margin-top: 10%;
}
.work{
margin-top: 22.4px;
margin-bottom: 22.4px;
font-family: 'Roboto',Arial, sans-serif;
color: #747477;
height:48px ;
width: 415px;
}
.parent-container-leader{
    padding: 15px;
    background-color: #FFFFFF;
    height: 250px;
    width: 80%;
    /* margin: auto; */
    border-radius: 5px;
   
    

}
.container-leader{
    height: 220px;
    width: 198.75px;
    color: #747477;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
   
}



.leader{
    /* height: 62.4px;
    width: 198.75px; */
    color: #00B39B;
    font-family: 'Work Sans', Arial, sans-serif ;
    margin: auto;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    width: 70%;


}

.container-leader :nth-child(3){
    height: 67.6px;
    width: 198.75px;
    text-align: center;
    color: #747477;
    font-size: 13px;
    font-family: 'Roboto',Arial, sans-serif;

}
.container-leader :nth-child(2){
    color: #00B39B;
    font-family: 'Work Sans', Arial, sans-serif ;
    margin: auto;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    width: 70%;

}
.left-parent-container-leader{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    gap: 10px;
    justify-content: center;
    transform: translateY(20px);

}
.right-parent-container-leader{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    gap: 10px;
    justify-content: center;
    /* margin-right: 20%; */

}
.left right{
    margin-right: 10%;
}
.improve{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.improve h1{
color: #00B39B;
font-family: 'Work Sans', Arial, sans-serif ;
width: 20%;
font-size: 30px;

}
.improve p{
color: #747477;
font-family: 'Roboto', sans-serif;
width: 20%;
}
.picture{
    width: 30%;
    display: flex;
    flex-direction: column;
/* border-radius: 5px;     */
}
.country{
margin: 0;
color:#747477;
font-family: 'Roboto', sans-serif;

}
.box{
    margin-top: 0;
    /* background-color: #00B39B; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #747477;

}
button{
    background-color: #3D83DF;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5PX;
    font-family: 'Roboto', sans-serif;

    border: none;

}
.big{
    display: flex;
justify-content: space-between;    
flex-wrap: wrap;
gap: 10px;
    width: 80%;
    margin: auto;
}
.last{
    background-color: #3D83DF;
    font-family: 'Roboto', sans-serif;
display: flex;
width: 15%;
margin: auto;
text-align: center;
}
.last button{
    text-align: center;

}

.sounds{
    font-family:'Work Sans', Arial, sans-serif  ;
    text-align: center;
}